<footer>
	<section class="footerSection">
		<h2>Follow us</h2>
		<a href="https://www.instagram.com/skullcandy/" target="_blank" class="footerSnsLink"><i class="fab fa-instagram"></i></a>
		<a href="https://www.youtube.com/user/SKULLCANDYTV" target="_blank" class="footerSnsLink"><i class="fab fa-youtube"></i></a>
		<a href="https://www.facebook.com/skullcandy/" target="_blank" class="footerSnsLink"><i class="fab fa-facebook-f"></i></a>
		<a href="https://twitter.com/skullcandy" target="_blank" class="footerSnsLink"><i class="fab fa-twitter"></i></a>
	</section>

	<section class="footerSection">

	</section>

	<section class="footerSection">
		<h2>
			Subscribe to our podcast
		</h2>

		<a href="" target="_blank" class="footerPodcastLink">Itunes</a>
		<a href="" target="_blank" class="footerPodcastLink">Spotity</a>
		<a href="" target="_blank" class="footerPodcastLink">YouTube</a>
	</section>
</footer>