<nav>
	<div class="navLinkContainer">
		<a href="http://localhost:3000/">Home</a>
	</div>

	<div class="navLinkContainer">
		<a href="http://localhost:3000/product">Product</a>
	</div>

	<div class="navLinkContainer">
		<a href="http://localhost:3000/contact">Contact</a>
	</div>
</nav>