<nav>
	<div class="navLinkContainer">
		<a  class="navLink" href="http://localhost:3000/">Home</a>
	</div>

	<div class="navLinkContainer">
		<a  class="navLink" href="http://localhost:3000/product">Products</a>
	</div>

	<div class="navLinkContainer">
		<a  class="navLink" href="http://localhost:3000/contact">Contact</a>
	</div>
</nav>