
@charset "UTF-8";
/* CSS Document */

/*======================================================== Overall stuff ========================================================*/

html{
	overflow-y: scroll;
	-moz-scrollbars: vertical;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(122, 195, 255);
}

p{
	padding-bottom: 1em;
	font-size: .9em;
}

/*===================================================== Overall stuff end =======================================================*/


/*=========================================================== Header ============================================================*/

header{
	background-color: #FFF;
	padding: 1%;
}

#headerLogo{
	width: 20%;
}

/*========================================================= Header end ==========================================================*/


/*============================================================ Nav ==============================================================*/

nav{
	display: flex;
	background-color: #000;
}

.navLinkContainer{
	justify-content: space-between;
}

/*=========================================================== Nav end ===========================================================*/